In [4]:
import pandas_datareader.data as web
import datetime 
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2015, 5, 9)

df = web.DataReader('F', 'yahoo', start, end)
df.head()

             High    Low   Open  Close       Volume  Adj Close
Date
2009-12-31  10.06   9.92  10.04  10.00   31253700.0   6.778744
2010-01-04  10.28  10.05  10.17  10.28   60855800.0   6.968545
2010-01-05  11.24  10.40  10.45  10.96  215620200.0   7.429503
2010-01-06  11.46  11.13  11.21  11.37  200070600.0   7.707428
2010-01-07  11.69  11.32  11.46  11.66  130201700.0   7.904015

In [6]:
from pandas_datareader import wb 
wb.search('gdp.*capital.').iloc[:,:2]

                        id                                               name
9069        NE.GDI.FTOT.CR  GDP expenditure on gross fixed capital formati...
9076  NE.GDI.FTOT.SNA08.CR  GDP expenditure on gross fixed capital formati...