In [2]:
import tushare as ts 
df = ts.get_k_data('399300',ktype='5')
df.head()

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

               date     open    close  ...  amount  turnoverratio    code
0  2021-03-01 13:45  5390.37  5394.98  ...      {}         0.0000  399300
1  2021-03-01 13:50  5395.61  5395.01  ...      {}         0.0000  399300
2  2021-03-01 13:55  5395.71  5400.76  ...      {}         0.0000  399300
3  2021-03-01 14:00  5400.40  5401.14  ...      {}         0.0000  399300
4  2021-03-01 14:05  5401.27  5403.91  ...      {}         0.0000  399300

[5 rows x 9 columns]

In [4]:
import pandas as pd 
df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date')

df_new = pd.DataFrame()
df_new['open'] = df['open'].resample('15T').first()
df_new['close'] = df['close'].resample('15T').last()
df_new['high'] = df['high'].resample('15T').max()
df_new['low'] = df['low'].resample('15T').min()
df_new['volume'] = df['volume'].resample('15T').sum()

df_new.head()

                        open    close     high      low      volume
date
2021-03-01 13:45:00  5390.37  5400.76  5403.83  5385.29   6784180.0
2021-03-01 14:00:00  5400.40  5408.54  5408.75  5396.49   6699462.0
2021-03-01 14:15:00  5408.63  5402.67  5408.63  5396.18   6813588.0
2021-03-01 14:30:00  5403.02  5410.65  5411.74  5398.22   7694327.0
2021-03-01 14:45:00  5410.89  5418.87  5419.47  5407.59  11895097.0