In [8]:
import pandas as pd
numbers = ['000001', '600000', '688001']
colors = [2016, 2017]
mindex = pd.MultiIndex.from_product([numbers, colors], names=['code', 'year'])

mindex

MultiIndex([('000001', 2016),
            ('000001', 2017),
            ('600000', 2016),
            ('600000', 2017),
            ('688001', 2016),
            ('688001', 2017)],
           names=['code', 'year'])

In [6]:
data = {'2016':[0.1, 0.3], '2017':[0.2, 0.4]}
df = pd.DataFrame(data, index=['A', 'B'])
df

   2016  2017
A   0.1   0.2
B   0.3   0.4