In [1]:
import pandas as pd

In [2]:
data = {'A':['x', 'y', 'z'], 'B':[1000,2000,3000], 'C':[10, 20, 30]}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
df

   A     B   C
a  x  1000  10
b  y  2000  20
c  z  3000  30

In [3]:
df.values

array([['x', 1000, 10],
       ['y', 2000, 20],
       ['z', 3000, 30]], dtype=object)

In [4]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [5]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [7]:
df = pd.DataFrame(data, columns=['C','B','A'], index=['a', 'b', 'c'])
df

    C     B  A
a  10  1000  x
b  20  2000  y
c  30  3000  z

In [8]:
df['D'] = 10
df

    C     B  A   D
a  10  1000  x  10
b  20  2000  y  10
c  30  3000  z  10

In [9]:
del df['D']
df

    C     B  A
a  10  1000  x
b  20  2000  y
c  30  3000  z

In [13]:
new_df = pd.DataFrame({'A':'new', 'B':4000, 'C':40}, index=['d'])
df = df.append(new_df)
df

    C     B    A
a  10  1000    x
b  20  2000    y
c  30  3000    z
d  40  4000  new

In [14]:
df.loc['e'] = ['new2', 5000, 50]
df

      C     B    A
a    10  1000    x
b    20  2000    y
c    30  3000    z
d    40  4000  new
e  new2  5000   50

In [24]:
df2 = pd.DataFrame([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'], columns=['E'])
df2

   E
a  1
b  2
c  3
d  4
e  5

In [41]:
df = df.join(df2)
df

      C     B    A  E
a    10  1000    x  1
b    20  2000    y  2
c    30  3000    z  3
d    40  4000  new  4
e  new2  5000   50  5

In [43]:
datas = pd.date_range('20210311', periods = 8)
datas

DatetimeIndex(['2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14',
               '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18'],
              dtype='datetime64[ns]', freq='D')

In [44]:
import numpy as np
df = pd.DataFrame(np.random.randn(8, 4), index=datas, columns=list('ABCD'))
df

                   A         B         C         D
2021-03-11 -0.112320  0.955334 -0.009008 -0.217576
2021-03-12 -0.747902  0.363128 -0.345154  0.167037
2021-03-13 -0.398955  0.339142  0.264229  0.518604
2021-03-14  1.131041  0.526505  0.941288 -0.034716
2021-03-15 -0.371742  1.269623 -0.530221  0.828295
2021-03-16 -0.318717 -1.125820  0.534134  0.257496
2021-03-17 -0.766795  0.650279  1.445453  1.411669
2021-03-18 -0.914639 -0.646133  0.030634 -0.647286

In [46]:
df.sum()

A   -2.500029
B    2.332060
C    2.331356
D    2.283523
dtype: float64

In [47]:
df.mean()

A   -0.312504
B    0.291507
C    0.291420
D    0.285440
dtype: float64

In [48]:
df.cumsum()

                   A         B         C         D
2021-03-11 -0.112320  0.955334 -0.009008 -0.217576
2021-03-12 -0.860222  1.318462 -0.354162 -0.050539
2021-03-13 -1.259177  1.657605 -0.089933  0.468065
2021-03-14 -0.128137  2.184110  0.851356  0.433349
2021-03-15 -0.499879  3.453733  0.321135  1.261643
2021-03-16 -0.818595  2.327913  0.855269  1.519139
2021-03-17 -1.585390  2.978193  2.300723  2.930809
2021-03-18 -2.500029  2.332060  2.331356  2.283523

In [49]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean  -0.312504  0.291507  0.291420  0.285440
std    0.642921  0.799706  0.660342  0.638945
min   -0.914639 -1.125820 -0.530221 -0.647286
25%   -0.752625  0.092824 -0.093045 -0.080431
50%   -0.385348  0.444817  0.147431  0.212267
75%   -0.267118  0.726543  0.635923  0.596027
max    1.131041  1.269623  1.445453  1.411669

In [50]:
df.sort_values('A')

                   A         B         C         D
2021-03-18 -0.914639 -0.646133  0.030634 -0.647286
2021-03-17 -0.766795  0.650279  1.445453  1.411669
2021-03-12 -0.747902  0.363128 -0.345154  0.167037
2021-03-13 -0.398955  0.339142  0.264229  0.518604
2021-03-15 -0.371742  1.269623 -0.530221  0.828295
2021-03-16 -0.318717 -1.125820  0.534134  0.257496
2021-03-11 -0.112320  0.955334 -0.009008 -0.217576
2021-03-14  1.131041  0.526505  0.941288 -0.034716

In [51]:
df.sort_index(ascending=False)

                   A         B         C         D
2021-03-18 -0.914639 -0.646133  0.030634 -0.647286
2021-03-17 -0.766795  0.650279  1.445453  1.411669
2021-03-16 -0.318717 -1.125820  0.534134  0.257496
2021-03-15 -0.371742  1.269623 -0.530221  0.828295
2021-03-14  1.131041  0.526505  0.941288 -0.034716
2021-03-13 -0.398955  0.339142  0.264229  0.518604
2021-03-12 -0.747902  0.363128 -0.345154  0.167037
2021-03-11 -0.112320  0.955334 -0.009008 -0.217576

In [52]:
df['A']

2021-03-11   -0.112320
2021-03-12   -0.747902
2021-03-13   -0.398955
2021-03-14    1.131041
2021-03-15   -0.371742
2021-03-16   -0.318717
2021-03-17   -0.766795
2021-03-18   -0.914639
Freq: D, Name: A, dtype: float64

In [53]:
df[0:5]

                   A         B         C         D
2021-03-11 -0.112320  0.955334 -0.009008 -0.217576
2021-03-12 -0.747902  0.363128 -0.345154  0.167037
2021-03-13 -0.398955  0.339142  0.264229  0.518604
2021-03-14  1.131041  0.526505  0.941288 -0.034716
2021-03-15 -0.371742  1.269623 -0.530221  0.828295

In [56]:
df.loc[datas[0]]

A   -0.112320
B    0.955334
C   -0.009008
D   -0.217576
Name: 2021-03-11 00:00:00, dtype: float64

In [57]:
df.loc[:, ['A', 'C']]

                   A         C
2021-03-11 -0.112320 -0.009008
2021-03-12 -0.747902 -0.345154
2021-03-13 -0.398955  0.264229
2021-03-14  1.131041  0.941288
2021-03-15 -0.371742 -0.530221
2021-03-16 -0.318717  0.534134
2021-03-17 -0.766795  1.445453
2021-03-18 -0.914639  0.030634

In [58]:
df.loc['20210311':'20210313',['A','C']]

                   A         C
2021-03-11 -0.112320 -0.009008
2021-03-12 -0.747902 -0.345154
2021-03-13 -0.398955  0.264229

In [63]:
df.iloc[2]

A   -0.398955
B    0.339142
C    0.264229
D    0.518604
Name: 2021-03-13 00:00:00, dtype: float64

In [66]:
df.iloc[1:3,2:3]

                   C
2021-03-12 -0.345154
2021-03-13  0.264229

In [68]:
df[df.A>0]

                   A         B         C         D
2021-03-14  1.131041  0.526505  0.941288 -0.034716

In [69]:
df[df>0]

                   A         B         C         D
2021-03-11       NaN  0.955334       NaN       NaN
2021-03-12       NaN  0.363128       NaN  0.167037
2021-03-13       NaN  0.339142  0.264229  0.518604
2021-03-14  1.131041  0.526505  0.941288       NaN
2021-03-15       NaN  1.269623       NaN  0.828295
2021-03-16       NaN       NaN  0.534134  0.257496
2021-03-17       NaN  0.650279  1.445453  1.411669
2021-03-18       NaN       NaN  0.030634       NaN

In [71]:
df['D'] = 0
df

                   A         B         C  D
2021-03-11 -0.112320  0.955334 -0.009008  0
2021-03-12 -0.747902  0.363128 -0.345154  0
2021-03-13 -0.398955  0.339142  0.264229  0
2021-03-14  1.131041  0.526505  0.941288  0
2021-03-15 -0.371742  1.269623 -0.530221  0
2021-03-16 -0.318717 -1.125820  0.534134  0
2021-03-17 -0.766795  0.650279  1.445453  0
2021-03-18 -0.914639 -0.646133  0.030634  0

In [72]:
df.loc[:,'D'] = 1
df

                   A         B         C  D
2021-03-11 -0.112320  0.955334 -0.009008  1
2021-03-12 -0.747902  0.363128 -0.345154  1
2021-03-13 -0.398955  0.339142  0.264229  1
2021-03-14  1.131041  0.526505  0.941288  1
2021-03-15 -0.371742  1.269623 -0.530221  1
2021-03-16 -0.318717 -1.125820  0.534134  1
2021-03-17 -0.766795  0.650279  1.445453  1
2021-03-18 -0.914639 -0.646133  0.030634  1

In [73]:
df.loc['20210311', 'D'] = 2
df

                   A         B         C  D
2021-03-11 -0.112320  0.955334 -0.009008  2
2021-03-12 -0.747902  0.363128 -0.345154  1
2021-03-13 -0.398955  0.339142  0.264229  1
2021-03-14  1.131041  0.526505  0.941288  1
2021-03-15 -0.371742  1.269623 -0.530221  1
2021-03-16 -0.318717 -1.125820  0.534134  1
2021-03-17 -0.766795  0.650279  1.445453  1
2021-03-18 -0.914639 -0.646133  0.030634  1

In [75]:
df.ix[1, 'D'] =3
df

AttributeError: 'DataFrame' object has no attribute 'ix'

In [77]:
s = pd.Series([3,4,5,6])
s

0    3
1    4
2    5
3    6
dtype: int64

In [79]:
s = pd.Series([3,4,5,6], index=['a','b','c','d'])
s

a    3
b    4
c    5
d    6
dtype: int64

In [80]:
s.values

array([3, 4, 5, 6], dtype=int64)

In [81]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [83]:
s[['b', 'c']]

b    4
c    5
dtype: int64

In [85]:
s.index = ['a', 'c', 'x', 'y']
s

a    3
c    4
x    5
y    6
dtype: int64

In [86]:
s1 = pd.Series([6,7,8,9], index=['a', 'x', 'z', 'c'])
s1

a    6
x    7
z    8
c    9
dtype: int64

In [87]:
s+s1

a     9.0
c    13.0
x    12.0
y     NaN
z     NaN
dtype: float64