In [1]:
import tushare as ts 
df = ts.get_k_data('399300',ktype='5')
df.head()

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

,date,open,close,high,low,volume,amount,turnoverratio,code
0,2021-03-02 13:45,5322.67,5327.61,5336.99,5322.30,2462538.0,{},0.0000,399300
1,2021-03-02 13:50,5327.01,5318.99,5327.01,5318.88,3741203.0,{},0.0000,399300
2,2021-03-02 13:55,5318.86,5314.17,5327.44,5314.17,3154043.0,{},0.0000,399300
3,2021-03-02 14:00,5315.05,5306.37,5320.57,5306.37,3759643.0,{},0.0000,399300
4,2021-03-02 14:05,5305.72,5309.62,5312.62,5305.19,3304517.0,{},0.0000,399300

In [3]:
max_c = 0
for idx, row in df.iterrows():
    max_c = max(row['high'], max_c)
    df.loc[idx, 'max_c'] = max_c

df['max_dd'] = df['low'] / df['max_c'] - 1

max_dd = abs(df['max_dd'].min())

max_dd

0.09802839116719242