In [30]:
import pandas as pd 
import numpy as np 
year_list = []
month_list = []
rtn_list = []

for year in range(2006, 2017):
    for month in [6, 12]:
        year_list.append(year)
        month_list.append(month)
        rtn = round((-1)**(month/6)*(month/6/10), 3) +(np.random.random()-0.5)*0.1
        rtn_list.append(rtn)

df = pd.DataFrame()
df['year'] = year_list
df['month'] = month_list
df['rtn'] = rtn_list

df

    year  month       rtn
0   2006      6 -0.069074
1   2006     12  0.187054
2   2007      6 -0.136348
3   2007     12  0.160272
4   2008      6 -0.070539
5   2008     12  0.173152
6   2009      6 -0.050639
7   2009     12  0.228852
8   2010      6 -0.076706
9   2010     12  0.202073
10  2011      6 -0.089194
11  2011     12  0.195149
12  2012      6 -0.073984
13  2012     12  0.235726
14  2013      6 -0.077497
15  2013     12  0.221574
16  2014      6 -0.114865
17  2014     12  0.219845
18  2015      6 -0.060082
19  2015     12  0.156436
20  2016      6 -0.108886
21  2016     12  0.165124

In [31]:
sr1 = round(df['rtn'].mean()/df['rtn'].std()*np.sqrt(2), 3)
sr1

0.538

In [32]:
df_year= df.groupby(['year']).sum()
del df_year['month']
df_year

           rtn
year
2006  0.117980
2007  0.023924
2008  0.102613
2009  0.178212
2010  0.125366
2011  0.105954
2012  0.161742
2013  0.144077
2014  0.104981
2015  0.096354
2016  0.056237

In [33]:
sr2 = round(df_year['rtn'].mean()/df_year['rtn'].std(), 3)
sr2

2.515